*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: hsl(233, 47%, 7%);
}
.container{
    /* border: 2px solid red; */
    width: 99vw;
    height: 98vh;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.image-box{
    /* border: 2px solid blue; */
    height: 35%;
    border-radius: 10px 10px 0 0;
}
.image{
    background-position: center;
    background-size: cover;
    background-image: url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.overlay{
    width:100%;
    height: 100%;
    background: rgba(170,92,219,0.45);
    border-radius: 10px 10px 0 0;
}
.content{
    /* border: 2px solid green; */
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self:enter;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0 0 10px 10px;
    /* color: white; */
    /* justify-self: center;
    align-items: center; */
}
#heading{
    font-family: 'Inter', 'sans-serif';
    font-weight: 700;
    align-self: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(244, 38%, 16%);
    /* font-size: 40px; */
}
#emphasis{
    color: hsl(277, 64%, 61%);
    background-color: hsl(244, 38%, 16%);
}
#para{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    align-self: center;
    justify-self: center;
    background-color: hsl(244, 38%, 16%);
}
.stats{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    color: hsla(0, 0%, 100%, 0.6);
    background-color: hsl(244, 38%, 16%);
}
#statemp{
    color: white;
    font-size: 24px;
    background-color: hsl(244, 38%, 16%);
}
.statcom, .stattemp, .statque{
    padding: 17px;
    font-family: 'Lexend Deca', sans-serif ;
    font-size: 15px;
    background-color: hsl(244, 38%, 16%);
    /* align-self: center; */
}









/* responsiveness  with desktop view*/

@media screen and (min-width: 400px){
    .container{
        flex-direction: row-reverse;
        height: 60vh;
        width: 90vw;
        margin-top: 150px;
        margin-left: 80px;
    }
    .image-box{
        height: 100%;
        width: 50%;
        border-radius: 0 10px 10px 0;
    }
    .overlay{
        border-radius: 0 10px 10px 0;
    }
    .content{
        height: 100%;
        width: 50%;
        padding: 85px;
        border-radius: 10px 0 0 10px;
    }
    #heading{
        /* font-size: 42px; */
    }
    .stats{
        flex-direction: row;
        /* padding: 20px; */
        justify-content: space-evenly;
        align-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .statcom, .statque, .stattemp{
        padding: 17px 34px 17px 0;
    }
    
}